version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: eschool-app
    container_name: eschool_app_1
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - eschool-network

networks:
  eschool-network:
    driver: bridge
